{:tasks
 {test:bb
  {:extra-paths      ["test"]
   :extra-deps       {io.github.paintparty/lasertag    
                      {:local/root "."}             #_{:mvn/version "0.11.1"} 

                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1"
                       :git/sha "dfb30dd"}}
   :task             (exec 'cognitect.test-runner.api/test)
   :exec-args        {:dirs ["test"]}
   :org.babashka/cli {:coerce {:nses [:symbol]
                               :vars [:symbol]}}}
  git-deps-docs
  {:doc      "Regenerate docs/git-deps.md from the latest tag"
   :requires ([babashka.process :as p]
              [clojure.string :as str])
   :task
   (let [tag  (-> (p/shell {:out :string} "git describe --tags --abbrev=0")
                  :out str/trim)
         sha  (-> (p/shell {:out :string} "git rev-list -n 1" tag)
                  :out str/trim)
         tmpl (slurp "docs/git-deps.template.md")]
     (spit "docs/git-deps.md"
           (-> tmpl
               (str/replace "{{TAG}}" (str "\"" tag "\""))
               (str/replace "{{SHA}}" (str "\"" sha "\""))))
     (println "Wrote docs for" tag sha))}}}
