{:source-paths ["src/" "test/"]
 :dependencies [[org.babashka/sci "0.12.51"]]
 :builds       {:test    {:target    :karma
                          :output-to "out/test.js"
                          :ns-regexp "-test$"
                          :autorun   true}
                :codegen {:target    :node-script
                          :output-to "out/codegen.js"
                          :main      lasertag.jsi.codegen/main}}}
